<!--
@links.each do |article|
  = link_to "upvote", like_article_path(article), method: :put
  -->
<div class="btn-group">
  <%= link_to "Alle", articles_path, class: "btn btn-default" %>
  <% @categories.each do |category| %>
    <%= link_to category.name, articles_path(filter: category.id), class: "btn btn-default" %>
  <% end %>
</div>

</br>

<%= will_paginate :previous_label => "Zurück", :next_label => "Weiter" %>
<% if current_user.try(:admin?) %>
  <%= link_to new_article_path, :class => "btn btn-success pull-right" do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
<% end %>
  <ul class="articles">

    <% @articles.each do |article| %>
      <li>

        <div class = "col-md-8" >
          <p><%=link_to article.name, article %><%= article.category.name %></p>
          <p class="small"> </p>
          <p><%=article.description %></p>
        </div>

        <div class = "col-md-4" >

          <%= form_for @order_item, remote: true do |f| %>
            <div class = "col-md-4">
              <div class = "col-md-12" >
              <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
              </div>
            </div>
            <div class = "col-md-5">
              <div class = "pull-right">
              <%= f.hidden_field :article_id, value: article.id %>
              <%= article.price %> €
     	        <%= button_tag(type: 'submit', class: "btn btn-primary cart-btn") do %>
                <i class="glyphicon glyphicon-shopping-cart"></i>
              <% end %>
              </div>
            </div>
          <% end %>

          <div class="col-md-3">
          <% if current_user.try(:admin?) %>
              <%= link_to edit_article_path(article), :class => "btn btn-warning cart-btn" do %>
                <i class="glyphicon glyphicon-edit"></i>
              <% end %>

              <%= link_to article, method: :delete,
                data: { confirm: "Artikel #{article.name} löschen?" }, :class => "btn btn-danger cart-btn" do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>
            </div>

          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
<%= will_paginate :previous_label => "Zurück", :next_label => "Weiter" %>
