<div class="btn-group category-btns">
  <%= link_to "Alle", articles_path, class: "btn btn-default" %>
  <% @categories.each do |category| %>
  <%= link_to category.name, articles_path(filter: category.id), class: "btn btn-default category-btn" %>
  <% end %>
</div>


<% if current_user.try(:admin?) %>
<%= link_to new_article_path, :class => "btn btn-success pull-right" do %>
<i class="glyphicon glyphicon-plus"></i>
<% end %>
<% end %>

<ul class="articles">

  <% @articles.each do |article| %>
  <li>

    <div class = "col-md-2" >
      <%= image_tag(article.img_name, class: "food-img", :size => "140x140") if article.img_name? %>
    </div>
    <div class = "col-md-5">
      <p><%=link_to article.name, article %></p>
      <p class="small"><%= article.category.name %></p>
      <p><%=article.description.truncate_words(22) %></p>
    </div>

    <div class = "col-md-5" >

     <div class="col-md-2">
      <%= link_to edit_article_path(article), :class => "btn btn-warning cart-btn" do %>
      <i class="glyphicon glyphicon-edit"></i>
      <% end %>
      
      <%= link_to article, method: :delete,
      data: { confirm: "Artikel #{article.name} löschen?" }, :class => "btn btn-danger cart-btn" do %>
      <i class="glyphicon glyphicon-remove"></i>
      <% end %>
    </div>

  </div>
</li>
<% end %>
</ul>
<%= will_paginate :previous_label => "Zurück", :next_label => "Weiter" %>
