<!--
@links.each do |article|
  = link_to "upvote", like_article_path(article), method: :put
  -->

<%= will_paginate :previous_label => "Zurück", :next_label => "Weiter" %>
<% if current_user.try(:admin?) %>
  <%= link_to new_article_path, :class => "btn btn-success pull-right" do %>
    <i class="glyphicon glyphicon-plus"></i>
  <% end %>
<% end %> 
  <ul class="articles">

    <% @articles.each do |article| %>
      <li>

        <p><%=link_to article.name, article %></p>
        <p>
          <%=article.description %>
          <span class = "pull-right" >
            <%= article.price %> €

            <%= form_for @order_item, remote: true do |f| %>
                <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
                <%= f.hidden_field :article_id, value: article.id %>
       	        <%= button_tag(type: 'submit', class: "btn btn-primary cart-btn") do %>
                  <i class="glyphicon glyphicon-shopping-cart"></i>
                <% end %>
            <% end %>

            <% if current_user.try(:admin?) %>

              <%= link_to edit_article_path(article), :class => "btn btn-warning cart-btn" do %>
                <i class="glyphicon glyphicon-edit"></i>
              <% end %>

              <%= link_to article, method: :delete,
                data: { confirm: "Artikel #{article.name} löschen?" }, :class => "btn btn-danger cart-btn" do %>
                <i class="glyphicon glyphicon-remove"></i>
              <% end %>

            <% end %>
          </span>
        </p>

      </li>
    <% end %>
  </ul>
<%= will_paginate :previous_label => "Zurück", :next_label => "Weiter" %>
