<div class="col-md-4 center-div">
  <h1>Create new Article</h1>
  <%= form_for(@article, html: { multipart: true }) do |f| %>

    <%= f.select :category_id, Category.all.map{|c| [c.name, "#{c.id}"]} %>

    <div class="form-group">
      <%= f.label :name, 'Name' %>
      <%= f.text_field :name, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :description, "Beschreibung / Zutaten" %>
      <%= f.text_area :description, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.label :price %>
      <%= f.text_field :price, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.check_box :isVegetarian %>
      <%= f.label :isVegetarian, " vegetarisch" %>
    </div>

    <%= f.file_field :img_name, accept: 'image/jpeg,image/gif,image/png' %>

    <%= f.submit "Erstellen", class: "btn btn-primary pull-right" %>

  <% end %>
</div>

<script type="text/javascript">
  $('#article_picture').bind('change', function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert('Maximum file size is 5MB. Please choose a smaller file.');
    }
  });
</script>
