<div class="col-md-8 col-md-offset-2">
<ul>
    <% @orders.each do |order| %>
      <li class="orders">
	<div class="col-md-1">
		<p> <%= link_to order.id, order_path(order.id) %>  </p>
	</div>
        <div class="col-md-8">
          Status: <%= @status.find( order.order_status_id ).name %>
          <p> <%= order.street %> </p>
          <p> <%= order.postal %> <%= order.city %> </p>
        </div>
        <div class="col-md-3">

          <%= link_to order, method: :delete,
            data: { confirm: "Bestellung löschen?" }, :class => "btn btn-danger cart-btn" do %>
            <i class="glyphicon glyphicon-remove"></i>
          <% end %>

          <%= link_to "Liefern", deliver_order_path(:order_id => order.id), :class => "btn btn-primary cart-btn" %>
        </div>
      </li>
    <% end %>
</ul>
</div>
