<div class="col-md-8 col-md-offset-2">
  <table class="table table-striped">
    <tr>
      <td>Info</td><td>Aktionen</td>
    </tr>
    <% if @orders.count > 0 %>
    <% @orders.each do |order| %>
      <% if !(order.Erstellung?) %>
        <tr>
          <td>
            Status: <%= order.order_status %> <br/>
            An: <%= order.street %> <br/>
            <%= order.postal %> <%= order.city %> 
          </td>
	  <td>
	  <% if order.Auftrag? %>
		  <%= link_to "Stornieren", cancel_order_path(:order_id => order.id) , data: { confirm: "Bestellung stornieren?" }, :class => "btn btn-danger cart-btn" %>
          <% elsif order.Abgeschickt? %>
		  <%= link_to "Geliefert",  received_order_path(:order_id => order.id), :class => "btn btn-success cart-btn"%>
          <% end %>
            <%= link_to "Details", order_path(order.id), :class => "btn btn-primary cart-btn" %>
          
          </td>
        </tr>
      <% end %>  
    <% end %> 
  <% end %>
  </table>



</div>
