<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <% @order_item.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
      <% end %>
    </ul>
  </div>
<% end %>
<% if @order_items.size == 0 %>
  <p class="text-center">
    Warenkorb leer. <%= link_to "Hier", articles_path %> Artikel hinzufügen.
  </p>
<% else %>
  <% @order_items.each do |order_item| %>
    <%= render 'carts/cart_row', article: order_item.article, order_item: order_item, show_total: true %>
  <% end %>
<% end %>
<div>
  <% if @order_items.try(:count) > 0 %>
    <% if current_order.order_status_id == 1 %>

      <%= link_to confirm_order_path, :class => "btn btn-success cart-btn pull-right" do %>
        <i class="glyphicon glyphicon-ok"> Bestellen</i>
      <% end %>

    <% elsif current_order.order_status_id > 1  %>

      <%= link_to cancel_order_path, data: { confirm: "Bestellung stornieren?" },
        :class => "btn btn-danger cart-btn pull-right" do %>
        <i class="glyphicon glyphicon-ok"> Stornieren</i>
      <% end %>
    <% end %>
  <% end %>
</div>
          Status: <%= OrderStatus.all.find( current_order.order_status_id ).name %>
