<h1>Bestellung bestätigen</h1>
<h2>Lieferadresse</h1>

<%= form_tag confirm_order_details_path do %>
  <div class="form-group col-md-12">
    <%= label_tag 'Straße & Hausnummer' %>
    <%= text_field_tag(:street, (current_user.street if current_user), class: "form-control") %>
  </div>

  <div class="form-group col-md-2">
    <%= label_tag 'PLZ' %>
    <%= text_field_tag(:postal, (current_user.postal if current_user), class: "form-control") %>
  </div>

  <div class="form-group col-md-10">
    <%= label_tag 'Ort' %>
    <%= text_field_tag(:city, (current_user.city if current_user), class: "form-control") %>
  </div>

  <h2>Bezahl-Methode</h2>
  <div class="form-group col-md-10">
    <%= radio_button_tag :payment, "cash", true %>
    <%= label_tag :payment_cash, "Bar bei Lieferung" %>
    <br/>
    <%= radio_button_tag :payment, "credit" %>
    <%= label_tag :payment_credit, "Kreditkarte" %>
  </div>

  <%= button_tag(type: "submit", class: "btn btn-success") do %>
    <i class="glyphicon glyphicon-ok"> Bestellen</i>
  <% end %>


<% end %>
